.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding: 0 14px;
}
.image{
    width: 498px;
    height: 293px;
}
.title{
    color: #000000;
    height: 20px;
    font-size: 14px;
    line-height: 19.5px;
    text-align: center;
    margin-top: 36px;
    font-weight: 700;
    padding: 0 25px;
}
.subtitle{
    color: #000000;
    font-size: 14px;
    line-height: 19.5px;
    text-align: center;
    margin-top: 23px;
    padding: 0 27px;
    font-weight: 400;
}
.input, .input:disabled{
    width: 100%;
    background-color: #fff;
    color: #6D5353;
    margin-top: 30px;
    height: 54px;
    padding: 10px;
    border: 1px solid #CC1379;
    border-radius: 5px;
    gap: 10px;
    text-align: center;
}
.button{
    width: 100%;
    color: #fff;
    margin-top: 20px;
    height: 54px;
    padding: 20px 0;
    border-radius: 5px;
    border: 0px;
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #CC1379;
    cursor: pointer;
}
.button:hover{
    background-color: #a71063;
}
.button:active{
    background-color: #fff;
    color: #CC1379;
}
.info{
    color: #000000;
    font-size: 14px;
    line-height: 19.5px;
    text-align: center;
    margin-top: 23px;
    padding: 0 27px;
    font-weight: 400;
}
.erroMsg{
    color: #ff0000;
    font-size: 14px;
    line-height: 19.5px;
    text-align: center;
    margin-top: 23px;
    margin-bottom: -23px;
    padding: 0 27px;
    font-weight: 400;
}
a{
    color: #A14400;
}