/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */

*{
  margin: 0;
  font-family: sans-serif; /*'Montserrat'*/
  box-sizing: border-box;
}

body {
  background: linear-gradient(140deg, #0054ff, #001236 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}